################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TapratsQt/v15
/geometry/x64/Debug
/geometry_tests/x64/Debug
/TapratsQt/x64/Debug
/x64/Debug
/geometry/geometry.vcxproj.user
/geometry_tests/geometry_tests.vcxproj.user
/TapratsQt/TapratsQt.vcxproj.user
/geometry/x64/Release
/geometry_tests/x64/Release
/x64/Release
/TapratsQt/x64/Release
/tiling/x64
/todo
/tiling_tests/x64
*.csv
/ui/x64/Release
/ui_qt/x64/Release
/ui/x64/Debug
/ui_qt/x64/Debug
/tiling_style/x64/Release
*.user
/tiling_style/x64/Debug
/tiling_ui_qt/x64/Release
/tiling_ui_qt/x64/Debug
/.vs/Alhambra/v15
/Alhambra/x64
*.aps
/installer/Release
*.diagsession
/export.cmd
/utility/x64/Release
/utility/x64/Debug
